pkgbase = homebridge
	pkgdesc = HomeKit support for the impatient
	pkgver = 1.9.0
	pkgrel = 1
	url = https://github.com/homebridge/homebridge
	arch = any
	license = Apache
	makedepends = npm
	makedepends = jq
	depends = nodejs
	optdepends = homebridge-config-ui-x: for web-based management tool
	noextract = homebridge-1.9.0.tgz
	options = !emptydirs
	options = !strip
	source = https://registry.npmjs.org/homebridge/-/homebridge-1.9.0.tgz
	sha512sums = 87c13fe95383b25f0cd290f07ff2eee7c888e96cdf00c6dc3a7788486a4a4b5ea37f64a5ef23f873aa5f14d3d863f7f1c245ae1d495be6651a672e3112f6fb2d
	b2sums = d9b5fde3b026bc7e7fd5916ec77139fa076bb99ee544fdccb8c6057c3763af38695471e0f2daf6276be6c5c0b4ce1833d3556a5e4f6216e925ba96889a346625

pkgname = homebridge
