pkgbase = homebridge
	pkgdesc = HomeKit support for the impatient
	pkgver = 1.8.1
	pkgrel = 1
	url = https://github.com/homebridge/homebridge
	arch = any
	license = Apache
	makedepends = npm
	makedepends = jq
	depends = nodejs
	optdepends = homebridge-config-ui-x: for web-based management tool
	noextract = homebridge-1.8.1.tgz
	options = !emptydirs
	options = !strip
	source = https://registry.npmjs.org/homebridge/-/homebridge-1.8.1.tgz
	sha512sums = b5cca34fbf66d52c411dfddb43223d204b173749b5cb418fc4f5afc2174913271d9622b43b2b98c73c78c3533973b3c76649e465b4160b117268c4e1ec31ca50
	b2sums = afe378b5aecbf10fa758394d6368e9fa151e0a7ca8cf858424cc35cb06a9393474d2371b487b237cebc9bfde9e06190aba4c77b2e694d584194ba19468e29ce1

pkgname = homebridge
